@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

/* -- establishing variables -- */
:root {
	--background-light: #FFFFFF;
	--background-dark: #222222;
	--background-yellow: #FFFABA;
	--background-pink: #FFD8C7;
	--background-blue: #D3F4FF;
	--background-green: #E3F88E;
	--text-light: #FFFFF0;
	--text-medium: #808080;
	--text-dark: #222222;
	--highlight: #91FFF0;
	--current: #C8FFF5;
	--shadow: #808080;
	--primary-font: 'Lato', sans-serif;
	--secondary-font: 'Mate SC', serif;
	--p-font: 'Didact Gothic', sans-serif;
}

html,
body {
	background-color: var(--background-light);
	padding: 0;
	margin: 0;
	max-width: 100%;
	height: 100%;
}

i {
	color: var(--text-light);
}

h1 {
	font-family: var(--primary-font);
	font-size: 25px;
	color: var(--text-dark);
}

h2 { font-family: var(--secondary-font);
color: var(--text-dark);
font-size: 25px;
padding-bottom: 40px;
}

h3 {
font-family: var(--primary-font);
color: var(--text-medium);
font-size: 18px;
line-height: 1.5em;
}

p {
	margin: 0;
	font-family: var(--p-font);
	color: var(--text-medium);
	font-size: 15px;
	line-height: 1.5em;
	}

/* -- navigation section of page -- */

.nav {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	list-style-type: none;
	/* margin: 4vh 1.5vw; */
	/*  Mivel azt mondod hogy 100% arra még ráteszi az álltalad megadott margint és igy "kilóg" a képből ezért padding hogy befelé nyomd az elemeket. */
	padding: 2rem;
}

/*.nav li {
	display:inline-block;
}*/

.nav a {
	margin: 0;
	padding: 0.4em 2em;
	/*display: inline-block;*/
	color: var(--text-medium);
	font-family: var(--primary-font);
	font-size: 20px;
	text-decoration: none;
	border-right: solid 1px var(--text-medium);
}

.nav a:hover {
	background-color: var(--highlight);
	border-radius: 10%;
}

.nav .current {
	color: var(--text-medium);
	background-color: var(--current);
	border-radius: 10%;
}

.nav .home {
	display: inline-block;
	/* margin-left: 850px;  */
	/* Ez nem kell mert solid px */
	border: none;
}
/*  Ez more responsive mert magától állitja a távolságot*/
.nav li:last-child{
	margin-left: auto;
}
/* -- mid section of page -- */

.container-intro{
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1;
}

.intro-wrap{
	display: inline-block;
	margin: 0 auto;
	height: 150px;
	width: 40%;
	background-color: rgb(255, 255, 255);
	border-radius: 70px;
	/*box-shadow: 1px 1px 1px #808080;*/
}

.intro-txt{
	display: inline-block;
	width: 50%;
	text-align: center;
}

.container-center{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 110px 0 70px 0;
	position: relative;
	z-index: 0;
}

.gap { margin: 0 15px;
}

.research {background-color: var(--background-blue);}

.design {background-color: var(--background-yellow);}

.sustainability{background-color: var(--background-green);}

.note-wrap{
	margin: 0;
	width: 100%;
	height: 10vh;
}

.postit{
	width: 23%;
	height: 320px;
	box-shadow: 3px 6px 12px #808080;
	border-radius: 2%;
	text-align: center;
		position: relative;
		display: flex;
		align-items: flex-end;
	position: relative;
}

.postit a {
	text-decoration: none;
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* -- REF: Divinector - CSS corner folding effect from: https://www.youtube.com/watch?v=nlKcl8NFnNI -- */

.postit.research:before{
	content:'';
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-color: transparent #D3F4FF #D3F4FF transparent;
	background: rgb(175, 214, 227);
	display: block;
	width: 0;
}

.postit.research:hover:before{
	border-width: 35px;
	border-color: transparent #dadada #dadada transparent;
	border-radius: 3%;
	transition: .8s;
}

.postit.design:before{
	content:'';
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-color: transparent #FFFABA #FFFABA transparent;
	background: rgb(240, 233, 126);
	display: block;
	width: 0;
}

.postit.design:hover:before{
	border-width: 35px;
	border-color: transparent #dadada #dadada transparent;
	border-radius: 3%;
	transition: .8s;
}

.postit.sustainability:before{
	content:'';
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-color: transparent #E3F88E #E3F88E transparent;
	background: rgb(195, 225, 74);
	display: block;
	width: 0;
}

.postit.sustainability:hover:before{
	border-width: 35px;
	border-color: transparent #dadada #dadada transparent;
	border-radius: 3%;
	transition: .8s;
}
/* -- effect ends here -- */

.pitch-wrap {
	width: 100%;
	height: 15vh;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.pitch {
	width: 50%;
	display: inline-block;
	text-align: center;
}


/* -- formatting footer -- */

footer{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 300px;
	background-color: var(--background-pink);
	text-align: center;
}

footer h3 {
	color: var(--text-dark);
	font-family: var(--primary-font);
	line-height: 1.5em;
}

.container-footer{
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 45%;
	margin-top:4vh;
}

.footer-contact{
	display: inline-block;
	justify-content: center;
}

.footer-icons{
	width: 100%;
	display: flex;
	justify-content: center;
}

.icon_gap { margin: 1vh 15px;
}

.footer-location{
	display: inline-block;
	justify-content: center;
}

/* -- formatting about.html starts here --*/

.h1-border{
	width: 50%;
	margin-bottom: 30px;
	border-top: solid 1px var(--text-medium);
	border-bottom: solid 1px var(--text-medium);
}

.container-about{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 50px 0 70px 0;
}

.about-wrapper {
	width: 25%;
	display: inline-block;
	text-align: left;
	margin-right: 30px;
	/*border: solid 2px black;*/
}

.process-wrapper {
	width: 50%;
	display: inline-block;
	justify-content: center;
	/*border: solid 2px black;*/
}

.process-wrapper-top{
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	/*border: solid 2px black;*/
}

.mini-postit{
	width: 33.33%;
	box-shadow: 3px 6px 12px #808080;
	border-radius: 2%;
	text-align: center;
}

.profil {
	margin: 0;
	width: 100%;
}
